body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: calc(1em * 0.9);
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
h1{font-size: 2em; margin: 15px 0;}
small{ font-style: italic;}
/*
header{
    border: #000 solid 1px;
    height: 40px;
}
main{
    border: #ff0000 solid 1px;
    height: 40px;
}
footer{
    border: #00ff00 solid 1px;
    height: 40px;
}*/
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}
nav ul li a{
    padding: 10px 15px;
    color: #ff0000;
    text-decoration: none;
}
nav ul li a:hover{
    color: #fff;
    background-color: red;
    border-radius: 10%;
}
figure {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
section figure img{
    width: 100%;
}

/**
* CLASS
*/
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,8rem) minmax(0,3.5fr) minmax(0,12rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.anchors table tr{
    font-size: 0.8em;
    text-align: left;
}
.anchors ul li{
    padding: 5px 0;    
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
.t1{
    margin-bottom: 0;
    border-bottom: #cdcdcd solid 1px;
}
.t1 span{
    padding-right: 10px;
    border-bottom: #f60000 solid 1px;
}