body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: calc(1em * 0.9);
}

ul { 
    list-style: none; 
    padding-left: 5px; 
}

a { 
    color:blue; 
    text-decoration: none;
}

h1 {
    font-size: 2em; 
    margin: 15px 0;
}

small { 
    font-style: italic;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
    text-align: center;
    width: 220px;
}

nav ul li a {
    padding: 10px 15px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #000;
    background-color: #cdcdcd;
}

figure {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

section figure img {
    width: 100%;
}

blockquote {
    background-color: #ededed;
    padding: 10px;
    border-left: solid 2px #fe7373;
    font-style: italic;
}

/**
* CLASS
*/
.bar {
    background-color: #fff;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,8rem) minmax(0,3.5fr) minmax(0,12rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    border-top: solid 1px #cdcdcd;
    padding: 50px;
    text-align: center;
    background-color: #f6f6f6;
}
.footer img {
    width: 100px;
}
.footer p {
    margin: 0 auto 10px;
}
.footer figure {
    margin: 0;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.anchors table tr {
    font-size: 0.8em;
    text-align: left;
}
.anchors ul li {
    padding: 5px 0;    
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
.sidebar ul li{
    padding-bottom: 10px;
}

.t1 {
    margin-bottom: 0;
    border-bottom: #cdcdcd solid 1px;
}
.t1 span {
    padding-right: 10px;
    border-bottom: #f60000 solid 1px;
}

#bibliografia + ul li {
    list-style: inside;
}